*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.d-flex{
    display: flex;
}

footer{
    height: 100px;
    background-color: #282828;
}

.wrapper{
    height: calc(100vh - 100px);
}

nav{
    width: 220px;
    background-color: black;
}

main{
    flex-grow: 1;
    background-color: #141922;
}

header{
    width: calc(100% - 220px);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5) ;
    justify-content:flex-end;
    align-items: center;
}
 header a{
     color: white;
     padding: 8px 20px;
     border-radius: 15px;
     text-decoration: none;
     border: 2px solid white;
     margin-right: 20px;
 }

 .logo{
     margin: 20px;
 }

.h-30{
    height: 30px;
}

.m-left-20{
    margin-left: 20px;
}

.m-top-10{
    margin-top: 10px;
}

.border{
    border-left: 2px solid greenyellow;
}

.super{
    vertical-align: super;
}

.text-center{
    text-align: center;
}

.fa-plus{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
    padding: 8px 10px;
    background-color: grey;
    color: black;
}

.none{
    text-decoration: none;
    color: grey;
    margin-left: 20px;
}